@import "tailwindcss";

:root {
  --background: #d3d3d3;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
